@model ATM.WebUI.Models.LoginUserModel
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Please, input neccessary fields: </h2>

@using (Html.BeginForm("Login"))
{
    @Html.ValidationSummary(true)
    @Html.Label("Card number ")
    @Html.TextBoxFor(model => model.UserName )
    <p></p>
    @Html.Label("Card password ")
    @Html.PasswordFor(model => model.UserPin )
    <p></p>
    <p><input type="submit" value="Log in" /></p>
}