@model ATM.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Admin: Log In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 

<h2>Log in to access the administrative area:</h2>
@using (Html.BeginForm("Login", "Admin"))
{
    @Html.ValidationSummary(true)
    @Html.Label("Admin name ")
    @Html.TextBoxFor(model => model.AdminName )
    <p></p>
    @Html.Label("Admin password ")
    @Html.PasswordFor(model => model.Password)
    <p></p>
    <p><input type="submit" value="Log in" /></p>
}

